.home{
    width:100vw;
    min-height:90vh ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 9vh;
}

.tabs{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 25px, rgba(0, 0, 0, 0.05) 0px 0px 10px;
    width: 80vw;
    min-width: 330px;
    height:clamp(70px,6.5vw,900px);
    border-radius: 12px;
    display:flex ;
    justify-content: start;
    padding: clamp(12px,1.3vw,220px);
    align-items: center;
    box-sizing: border-box;
    margin-top: clamp(20px,3vw,220px);
    background: linear-gradient(90deg, #3b82f6, #a855f7);
    box-shadow: rgba(0, 0, 0, 0.201) 0px 0px 12px, rgba(0, 0, 0, 0.100) 0px 0px 10px;
}

.tab{
    width: 10%;
    min-width: 90px;
    color:  black;
    font-weight:200;
    margin-right: clamp(17px,1vw,42px);
    border-radius: 12px;
    height: 100%;
    display: grid;
    place-items: center;
    cursor: pointer;
    background-color: #d0e6d9;
   font:bolder;
   font-size: 1.1rem;   
   background: #3b82f6;
   background: white;
   color:black;
   border: 1px solid black;

   
}

.tab_content{
    margin-top: clamp(20px,3vw,220px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 25px, rgba(0, 0, 0, 0.05) 0px 0px 10px;
    width: 80vw;
    min-width: 330px;
    min-height:60vh ;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding:clamp(3vh,2.2vw,120px);
    padding-top: 15px;
    box-sizing: border-box;
}

.title:disabled{
    padding:0; 
    border: 0;
    color: black;
    font-size: 1.5em;
    color:#3b82f6;
}
.title:enabled {
    font:bold;
}

.title{
    border: 2px solid #3b82f6;
    background: transparent;
    outline: none;
    border: none;  
    min-width:40%;
    border: 2px solid #3b82f6;
    padding:0 1% 0 1%;
    min-height:5vh; 
    font-size: 1.2em;
    border-radius: 6px; 
    background: white;
    
    
}

.description{
    border-radius: 12px;
    overflow: hidden;
    border:0;
    outline: 0;
    background: white;
}
.border {
    border: 2px solid #3b82f6;
}



.tabsSelected{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 3px, rgba(0, 0, 0, 0.24) 0px 0px 2px;
}

.tabsNotSelected{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 0px inset;
}

.tab_content label{
  margin-top: clamp(15px,1.2vw,40px);
  margin-bottom: 1%;
  display: block;
  min-width:20%;
  height: fit;
  font:1000;
  font-size: 1.2em;
  color:#2d6a4f;
 
}



/* input:focus{
    border: 2px solid #3b82f6;
    outline:none
} */
.tab_content select{
    width:clamp(110px,15vw,360px);
    font-size: clamp(20px,1.5vw,220px);
    min-height:5vh;
    border-radius: 6px;
    outline: none;
    border: 2px solid #3b82f6;
    padding:1%;

}

.tab_content button{
  width:clamp(120px,10vw,520px);
  height: 6.5vh;
  margin-top : 2vh;
  border:0px;
  border-radius: 12px;
  outline: none;
  background: linear-gradient(90deg, #3b82f6, #a855f7);
  color:white;
  font-size: 1.1rem;
}

input[type="file"] {
    border: none;
    background-color: transparent;
    color: black;  /* Keep text color */
    font-size: 16px;
    cursor: pointer;
}

.lead{
    width:35vh;
    height:fit-content;
    font-size: 1.2em;
}
.lead span{
    color:#3b82f6;
}
.ql-container{ 
    border: none !important;
}
.ql-editor {
    font-size: 20px; /* Default font size for the editor */
    color:#666e7a
}

.descriptionReadOnly{
     margin-left: -2vh;
}


